@import url('https://fonts.googleapis.com/css?family=Courgette');



*{
	box-sizing: border-box;
}

body{
	background-image: url("../img/background.png");
	font-family: 'Courgette', cursive;
	margin:0;
	width: auto;
}
#conteneur{
	margin: 0 auto;
	width: 1170px;
	 background: #fff;
	 border-radius: 10px 10px 10px 10px;
	 box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
	 padding-bottom:50px;
}
header{
	width: 100%;
	height:70px;
	background: #C55394;
	color:#fff;	
}
 nav{
	float: right;
}
nav a{
	text-decoration: none;
	color:#fff;	
	margin: 18px;
	list-style: none;
}
nav li:hover{
	background:#EB43A3
}
.active{
	background:#EB43A3;
}
header h1{
	font-size:28px;
	margin-top:18px;
	margin-left: 35px;
	font-weight:normal;
}
header ul{
	margin:0;
}
header li{
	display: inline;
	font-family: sans-serif;
	font-size: 13px;
	padding:28px 5px 28px 5px;
	line-height: 70px;
	margin-left: -5px;
}
section h2{
	font-size: 33px;
	padding-top:71px;
	margin : 0 auto;
	color:#C55394;
}
.titre{
	float:left;
}
.arc {
	display: block;
	text-align: center;
	width: 100%;
	height:150px;
	background-image:url("../img/rainbow.png");
	background-size: 27%;
	background-position: center top 10px;
	
	background-repeat: no-repeat;
}
section h3{
	display: inline;
	font-family: 'Courgette', cursive;
	color:#C55394;
	font-size:26px;
	font-weight: normal;
	margin-left:5px;
}
section i{
	color:#C55394;
	margin-top:60px;
	margin-left:20px;	
}
section p{
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	padding:8px 20px 0 15px;
}
.clear{
	clear: both;
}
.nos_licornes i{
	
	margin-top:50px;
}
.img_licornes {
	width: 280px;
	float: left;
}
figure{
	
	width: 250px;
	position: relative;
	overflow: hidden;
}
figure img{
	display: block;
	width:250px;
}
figcaption h3 a{
	color: #ffffff;
	text-decoration: none;
}
.nom_figcaption{
	height: 15px;
	margin: 0;
}
figure figcaption{
	background: rgba(0,0,0,.75);
	text-align: center;
	color: white;
	
	width: 250px;
	position: absolute;
	bottom:-12%;
	height: 30px;
	transition: .6s;
}
figure:hover figcaption{
	bottom:0;
}
.carte{
	float: left;
	margin-right: 15px;
}
.carte iframe{
	width: 685px;
	height: 450px;
	margin-left: 30px;
	margin-top: 30px;
}
.formulaire p{
	margin-top:-20px;
}
.formulaire h5{
		color:#C55394;
		font-size: 1em;
		margin-top: 45px;
}
input[type=email]{
	width:190px;
	padding: 7px;
}
input[type=submit]{
	background:#c55394;
	border:0;
	color:#fff;
	padding: 10px 20px ;
	margin-top: 10px;
	border-radius: 5px;
}
footer{
	height:55px;
	width: 100%;
	background: #E577B5;
	margin-top:60px;
}
.footerText{
	line-height: 55px;
	margin-right: 20px;
	text-align: right;
	color:white;
	font-size: 0.9em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


@media (max-width: 1260px) {
	.arc {
        height:150px;
        background-image:url("../img/rainbow.png") ;
       
    }

    #conteneur {
        width: auto
}

.images {
	display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px) {	
	
    .arc {
        height:150px;
        background-image:url("../img/rainbow.png") ;
        
    }
    .carte {
        display: flex;
        flex-direction: column;
    }

    .carte iframe {
        width: 90%;
    }

}
@media (max-width: 650px) {
	.arc {
        visibility: hidden;
    }
    nav a {
        color: black;

    }
}
@media (max-width: 560px) {
    .contact {
        display: flex;
        flex-direction: column;
    }
}
}



